@import "colors";
@import "typography";

.button_blue {
  width: 100%;
  cursor: pointer;
  font-size: $regular-14-text;
  font-weight: 600;
  background-color: $button-blue;
  padding: 0.8rem;
  color: $white;
  border: none;
  border-radius: 0.8rem;

  &:disabled {
    opacity: 0.4;
  }
}

.button_regular {
  width: 100%;
  cursor: pointer;
  font-size: $regular-14-text;
  font-weight: 600;
  padding: 0.8rem;
  color: $button-blue;
  background-color: transparent;
  border: none;
  border-radius: 0.8rem;
}

.link {
  font-size: $regular-14-text;
  cursor: pointer;
  color: $button-blue;
  text-decoration: none;
  font-weight: 500;
}

.button_secondary {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.8rem;
  color: $black;
  background-color: $button-secondary;
  border: none;
  border-radius: 0.5rem;
}
