@import "colors";
@import "typography.scss";

.footer {
  margin-top: 10rem;
  grid-area: footer;

  &__ul {
    display: flex;
    gap: 2rem;
    font-size: $regular-12-text;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;

    li {
      text-align: center;
    }
    a {
      color: $light-input;
      text-decoration: none;
    }
  }

  p {
    color: $light-input;
    text-align: center;
    font-size: $regular-12-text;
    margin-bottom: 5rem;
  }
}
