@import "colors";
@import "typography.scss";
@import "reset";

html {
  font-size: 62.5%; /* =10px */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-size: 1.4rem;
}

textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  grid-column: 2/3;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: minmax(66rem, 1fr) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main sidebar"
    "footer footer";
  min-height: 100vh;
  justify-items: center;
  gap: 8rem;
}

.container_one_column {
  max-width: 90rem;
  margin: 0 auto;
  grid-column: 2/3;
  padding-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-main {
  position: relative;
  display: grid;
  grid-template-columns: 33rem 1fr;
}

.logo,
.img {
  height: auto;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

h5 {
  font-size: $regular-14-text;
}

.main {
  justify-self: center;
  width: 100%;
  grid-area: main;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

textarea {
  font-family: inherit;
  resize: none;
}

.error_info {
  padding: 1rem;
  color: $color-red;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.like-fill {
  filter: invert(36%) sepia(20%) saturate(4693%) hue-rotate(334deg)
    brightness(88%) contrast(84%);
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  border: 0.8rem solid $light-gray;
  border-color: $light-gray transparent $light-gray transparent;
  border-radius: 50%;
  animation: spin 1.4s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.full-wh {
  width: 100%;
  height: 82rem !important;
}
