@import "colors";
@import "typography.scss";

.navbar {
  position: fixed;
  padding: 4rem 1rem;
  width: 33rem;
  height: 100vh;
  border-right: 0.1rem solid $light-gray;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .logo {
    height: auto;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  a:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    font-size: $regular-16-text;
    color: $black;
    padding: 1rem 1.6rem;
    border-radius: 1rem;

    &:hover {
      background-color: $white-gray;
    }
  }
}
