@import "colors";
@import "typography.scss";

.mini_navbar {
  width: auto;
  transition: all 0.3s ease;
  position: fixed;
  padding: 4rem 3rem;
  height: 100vh;
  border-right: 0.1rem solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  transition: all 0.3s ease;
}

.navbar {
  position: fixed;
  padding: 4rem 1rem;
  width: 30rem;
  height: 100vh;
  border-right: 0.1rem solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  transition: all 0.3s ease;

  .logo {
    margin-bottom: 3rem;
  }

  .logo_big {
    width: 110px;
    height: auto;
    transition: width 0.3s ease;
    margin-left: 1.5rem;
  }

  .logo_small {
    width: 24px;
    height: 24px;
    transition: width 0.3s ease;
  }

  a:not(:first-child) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    font-size: $regular-16-text;
    color: $black;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: all 0.3 ease;

    &:hover {
      background-color: $white-gray;
      img {
        transition: transform 349ms ease-in-out;
        transform: scale(120%);
      }
    }
  }
}

.active {
  font-weight: 700;

  .avatar {
    border: 0.2rem solid $black;
  }
}

@media (max-width: 1500px) {
  .navbar {
    width: 27rem;
  }
}

.navbar.mini_navbar a {
  width: fit-content;
}

.search_withlogo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem;
  border-bottom: 0.1rem solid $light-gray;
  img {
    height: auto;
  }
  input {
    box-sizing: border-box;
    width: 50%;
    border-radius: 0.4rem;
    padding: 1rem;
    border: none;
    font-size: $regular-14-text;
    background-color: #ededed;
    outline: none;
  }
}

.nav_end {
  margin-top: auto;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  transition: all 0.3s ease;

  button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    font-size: $regular-16-text;
    color: $black;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: all 0.3 ease;
  }
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.mini_navbar {
  .nav_end {
    margin-left: 0;
  }
}

.extramini_navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 0.1rem solid $light-gray;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  gap: 10%;
  transition: all 0.3s ease;

  a {
    padding: 0;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.extramini_navbar.logo {
  margin-bottom: 0;
}
