@import "colors";
@import "typography.scss";

.register_main_center {
  flex: 1;
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
}

.main_center {
  flex: 1;
  grid-column: 1/-1;
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.login_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link {
  text-align: center;
}

.login_left img {
  height: auto;
}

@import "form.module.scss";
@import "buttons.scss";

@media (max-width: 827px) {
  .main_center {
    grid-template-columns: 1fr;
  }
  .login_right {
    padding: 2rem;
  }
  .login_left img {
    display: none;
  }
}
