@import "colors";
@import "typography.scss";

.main_center {
  grid-column: 1/-1;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.link {
  text-align: center;
}

@import "form.module.scss";
@import "buttons.scss";
