@import "colors";
@import "typography.scss";

.main_center {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@import "form.module.scss";
@import "buttons.scss";
