@import "colors";
@import "typography.scss";
@import "buttons";
@import "footer.module";
.nav {
  width: 28rem;
  height: auto;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  a {
    font-size: 1.2rem;
  }

  .text {
    color: $light-paragraph;
    font-weight: 500;
  }
  .footer {
    margin-top: 3rem;

    ul {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 1rem;
    }
    p {
      text-align: start;
    }
  }
}

.recomended {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  .link {
    color: $black;
  }
}

@media (max-width: 1120px) {
  .nav {
    display: none;
  }
}
