@import "colors";

.slider {
  margin-bottom: 5rem;
}

.slides {
  display: flex;
  gap: 1rem;

  .slide {
    height: 100%;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 0.5rem;

    p {
      font-size: 1.2rem;
    }
  }
}

.slide {
  cursor: pointer;
}

.slide img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.2rem;
  border-width: 0.2rem;
  border-image-slice: 1;
  border-style: solid;
  background: $primary;
  border: 0.2rem solid transparent;
}

.slider_prev > img,
.slider_next > img {
  cursor: pointer;
  border-radius: 50%;
}

.slider_prev,
.slider_next {
  z-index: 100;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.slider_prev {
  padding: 0 1.6rem;
  left: 0;
}
.slider_next {
  padding: 0 2.6rem;
  right: 0;
}
